<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Select Flat No.</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <form #formRef="ngForm">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input list="browsers" (change)='loadDetails($event)' placeholder="Flat Number" class="form-control">

                                        <datalist id="browsers">
                                            <option *ngFor="let flat of flatList" value="{{flat.flat}}">

                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input placeholder="Customer Name" pattern="[A-Za-z ]+" required [(ngModel)]="updateUser.name" type="text" class="form-control"
                                            #name="ngModel" name="name">
                                    </div>
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                        <div *ngIf="name.errors.pattern">
                                            Enter a valid Customer Name.
                                        </div>
                                        <div *ngIf="name.errors.required">
                                            Customer Name is Required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input placeholder="Meter Id" pattern="[0-9]{3,4}" required [(ngModel)]="updateUser.meter" type="text" class="form-control"
                                            #meter="ngModel" name="meter">
                                    </div>
                                    <div *ngIf="meter.invalid && (meter.dirty || meter.touched)" class="alert alert-danger">
                                        <div *ngIf="meter.errors.required">
                                            Meter Id is required.
                                        </div>
                                        <div *ngIf="meter.errors.pattern">
                                            Enter a valid Meter Id.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input placeholder="Mobile No." required [(ngModel)]="updateUser.mobile" pattern="[5-9][0-9]{9}" type="text" class="form-control"
                                            #mobile="ngModel" name="mobile">
                                    </div>
                                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                                        <div *ngIf="mobile.errors.required">
                                            Mobile No. is required.
                                        </div>
                                        <div *ngIf="mobile.errors.pattern">
                                            Mobile No. Should be Valid 10 digit Number
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" value="A" [(ngModel)]="updateUser.category">Category A
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" value="B" [(ngModel)]="updateUser.category">Category B
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input placeholder="Email Id" type="email" pattern="[A-Ba-z0-9-_.]+@[a-z0-9]+.[a-z0-9]{2,3}" class="form-control" [(ngModel)]="updateUser.email"
                                            name="email" #email="ngModel">
                                    </div>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                                        <div *ngIf="email.errors.pattern">
                                            Email Should be Valid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="myForm.invalid || dataLoadFailed" type="submit" (click)='updateDetails()' class="btn btn-danger pull-right">Add Customer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>