<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <form>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">

                                        <input [type]="showPassword ? 'text' : 'password'" placeholder='Enter New Password' [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]='password' class="form-control">
                                        <i style='float: right;
                                        margin-left: -25px;
                                        margin-top: -34px;
                                        position: relative;
                                        z-index: 2;' class="material-icons" (mousedown)='showPassword=true' (mouseup)='showPassword=false'>remove_red_eye</i>
                                    </div>
                                </div>
                            </div>




                            <button type="submit" (click)='changePassword()' class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>