<div class="main-content">
    <div class="container-fluid">
        <form #formRef="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Category A</h4>
                            <p class="category">Complete your profile</p>
                        </div>
                        <div style='padding:15px 20px 76px 15px' class="card-content">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Main Rate</label>
                                            <input name="mainRateA" dir="rtl" pattern="[0-9]{1,2}" required type="text" class="form-control" [(ngModel)]="CategoryA.mainRateMain"
                                                #mainRateA="ngModel">
                                            <div *ngIf="mainRateA.invalid && (mainRateA.dirty || mainRateA.touched)" class="alert alert-danger">
                                                <div *ngIf="mainRateA.errors.required">
                                                    Main Rate is required.
                                                </div>
                                                <div *ngIf="mainRateA.errors.pattern">
                                                    Main Rate must be Between 1-99
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <div class='form-inline'>
                                                <b>.</b>
                                                <select class="form-control padding-leftright" [(ngModel)]="CategoryA.mainRateDecimal" name="mainRateDecimalA">
                                                    <option value='1'>00</option>
                                                    <option value='2'>25</option>
                                                    <option value='3'>50</option>
                                                    <option value='4'>75</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">DG Rate</label>
                                            <input name="DGRateA" dir="rtl" pattern="[0-9]{1,2}" required type="text" class="form-control" [(ngModel)]="CategoryA.DGRateMain"
                                                #DGRateA="ngModel">
                                            <div *ngIf="DGRateA.invalid && (DGRateA.dirty || DGRateA.touched)" class="alert alert-danger">
                                                <div *ngIf="DGRateA.errors.required">
                                                    DG Rate is required.
                                                </div>
                                                <div *ngIf="DGRateA.errors.pattern">
                                                    DG Rate must be Between 1-99
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <div class='form-inline'>
                                                <b>.</b>
                                                <select class="form-control padding-leftright" [(ngModel)]="CategoryA.DGRateDecimal" name="DGRateDecimalA">
                                                    <option value='1'>00</option>
                                                    <option value='2'>25</option>
                                                    <option value='3'>50</option>
                                                    <option value='4'>75</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Main Limit</label>
                                        <input name="mainLimitA" dir="rtl" pattern="[0-9]+" required type="text" class="form-control" [(ngModel)]="CategoryA.mainLimit"
                                            #mainLimitA="ngModel">
                                        <div *ngIf="mainLimitA.invalid && (mainLimitA.dirty || mainLimitA.touched)" class="alert alert-danger">
                                            <div *ngIf="mainLimitA.errors.required">
                                                Main Limit is required.
                                            </div>
                                            <div *ngIf="mainLimitA.errors.pattern">
                                                Main Limit must be Valid
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">DG Limit</label>
                                        <input name="DGLimitA" dir="rtl" pattern="[0-9]+" required type="" class="form-control" [(ngModel)]="CategoryA.DGLimit" #DGLimitA="ngModel">
                                        <div *ngIf="DGLimitA.invalid && (DGLimitA.dirty || DGLimitA.touched)" class="alert alert-danger">
                                            <div *ngIf="DGLimitA.errors.required">
                                                DG Limit is required.
                                            </div>
                                            <div *ngIf="DGLimitA.errors.pattern">
                                                DG Limit must be Valid
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Category B</h4>
                            <p class="category">Complete your profile</p>
                        </div>
                        <div class="card-content">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Main Rate</label>
                                            <input name="mainRateB" dir="rtl" pattern="[0-9]{1,2}" required type="text" class="form-control" [(ngModel)]="CategoryB.mainRateMain"
                                                #mainRateB="ngModel">
                                            <div *ngIf="mainRateB.invalid && (mainRateB.dirty || mainRateB.touched)" class="alert alert-danger">
                                                <div *ngIf="mainRateB.errors.required">
                                                    Main Rate is required.
                                                </div>
                                                <div *ngIf="mainRateB.errors.pattern">
                                                    Main Rate must be Between 1-99
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <div class='form-inline'>
                                                <b>.</b>
                                                <select class="form-control padding-leftright" [(ngModel)]="CategoryB.mainRateDecimal" name="mainRateDecimalB">
                                                    <option value='1'>00</option>
                                                    <option value='2'>25</option>
                                                    <option value='3'>50</option>
                                                    <option value='4'>75</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">DG Rate</label>
                                            <input name="DGRateB" dir="rtl" pattern="[0-9]{1,2}" required type="text" class="form-control" [(ngModel)]="CategoryB.DGRateMain"
                                                #DGRateB="ngModel">
                                            <div *ngIf="DGRateB.invalid && (DGRateB.dirty || DGRateB.touched)" class="alert alert-danger">
                                                <div *ngIf="DGRateB.errors.required">
                                                    DG Rate is required.
                                                </div>
                                                <div *ngIf="DGRateB.errors.pattern">
                                                    DG Rate must be Between 1-99
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 zero-left-right-padding">
                                        <div class="form-group form-black label-floating is-empty">
                                            <div class='form-inline'>
                                                <b>.</b>
                                                <select class="form-control padding-leftright" [(ngModel)]="CategoryB.DGRateDecimal" name="DGRateDecimalB">
                                                    <option value='1'>00</option>
                                                    <option value='2'>25</option>
                                                    <option value='3'>50</option>
                                                    <option value='4'>75</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Main Limit</label>
                                        <input name="mainLimitB" dir="rtl" pattern="[0-9]+" required type="text" class="form-control" [(ngModel)]="CategoryB.mainLimit"
                                            #mainLimitB="ngModel">
                                        <div *ngIf="mainLimitB.invalid && (mainLimitB.dirty || mainLimitB.touched)" class="alert alert-danger">
                                            <div *ngIf="mainLimitB.errors.required">
                                                Main Rate is required.
                                            </div>
                                            <div *ngIf="mainLimitB.errors.pattern">
                                                Main Rate must be Between 1-99
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">DG Limit</label>
                                        <input name="DGLimitB" dir="rtl" pattern="[0-9]+" required type="text" class="form-control" [(ngModel)]="CategoryB.DGLimit"
                                            #DGLimitB="ngModel">
                                        <div *ngIf="DGLimitB.invalid && (DGLimitB.dirty || DGLimitB.touched)" class="alert alert-danger">
                                            <div *ngIf="DGLimitB.errors.required">
                                                Main Rate is required.
                                            </div>
                                            <div *ngIf="DGLimitB.errors.pattern">
                                                Main Rate must be Between 1-99
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="myForm.invalid" type="submit" (click)='updateData()' class="btn btn-danger pull-right">Update Terriff</button>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>