<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Category A</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Main Rate</label>
                                        <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryA.mainRateMain">

                                    </div>
                                </div>
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class='form-inline'>
                                            <b>.</b>
                                            <select class="form-control padding-leftright" [(ngModel)]="CategoryA.mainRateDecimal">
                                                <option value='1'>00</option>
                                                <option value='2'>25</option>
                                                <option value='3'>50</option>
                                                <option value='4'>75</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">DG Rate</label>
                                        <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryA.DGRateMain">

                                    </div>
                                </div>
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class='form-inline'>
                                            <b>.</b>
                                            <select class="form-control padding-leftright" [(ngModel)]="CategoryA.DGRateDecimal">
                                                <option value='1'>00</option>
                                                <option value='2'>25</option>
                                                <option value='3'>50</option>
                                                <option value='4'>75</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Main Limit</label>
                                    <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryA.mainLimit">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">DG Limit</label>
                                    <input dir="rtl" type="" class="form-control" [(ngModel)]="CategoryA.DGLimit">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger pull-right">Update Terriff</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Category B</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Main Rate</label>
                                        <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryB.mainRateMain">

                                    </div>
                                </div>
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class='form-inline'>
                                            <b>.</b>
                                            <select class="form-control padding-leftright" [(ngModel)]="CategoryB.mainRateDecimal">
                                                <option value='1'>00</option>
                                                <option value='2'>25</option>
                                                <option value='3'>50</option>
                                                <option value='4'>75</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">DG Rate</label>
                                        <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryB.DGRateMain">

                                    </div>
                                </div>
                                <div class="col-xs-5 zero-left-right-padding">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class='form-inline'>
                                            <b>.</b>
                                            <select class="form-control padding-leftright" [(ngModel)]="CategoryB.DGRateDecimal">
                                                <option value='1'>00</option>
                                                <option value='2'>25</option>
                                                <option value='3'>50</option>
                                                <option value='4'>75</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Main Limit</label>
                                    <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryB.mainLimit">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">DG Limit</label>
                                    <input dir="rtl" type="text" class="form-control" [(ngModel)]="CategoryB.DGLimit">.

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger pull-right">Update Terriff</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>